* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 60px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #1f4590;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 1;
  border-bottom: 1px solid #364f6b;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #1f4590;
  width: 100%;
  line-height: 50px;
}

.img-check {
  width: 16.67px;
  height: 16.67px;
  float: left;
  margin-right: 15px;
}

dt {
  float: left;
  color: #535353;
  font-size: 15px;
  font-family: Raleway;
  font-weight: 700;
  margin-right: 15px;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  color: rgba(74, 74, 74, 0.7);
  font-family: Open Sans;
}
#startButton {
  background-color: blue;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  font-weight: bold;
}

#stopButton {
  background-color: red;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  font-weight: bold;
}

#captureButton {
  background-color: rgb(9, 223, 63);
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  font-weight: bold;
}

#deleteButton {
  background-color: rgb(87, 2, 84);
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  font-weight: bold;
}

#submitButton {
  background-color: green;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  font-weight: bold;
}

#video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#capture-button-container {
  text-align: center;
}

video {
  width: 100%;
  max-width: 640px;
}

.tengah {
  text-align: center;
  width: 100%;
}

.team-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-team {
  width: 20%;
  margin: 0 auto;
}

.kartu-team img {
  width: 80%;
  border-radius: 50%;
}

.kartu-team p {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 23px;
  text-align: center;
  color: #364f6b;
}

footer {
  background-color: #1f4590;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .kartu-team {
    width: 50%;
  }
}
